.main {
  display: block;
  background: $white;
  padding-bottom: $header-height-sp;
  margin-top: $header-height-sp;
  
  @include mq('md') {
    padding-bottom: $header-height-md;
    margin-top: $header-height-md;
  }
  
  @include mq('lg') {
    padding-bottom: $header-height-pc;
    margin-top: $header-height-pc;
  }
}