// 非表示

.u-sp {
  display: block;

  @include mq('sm') {
    display: none;
  }
}

.u-sp-up {
  display: none;

  @include mq('sm') {
    display: block;
  }
}

.u-tab-down {
  display: block;

  @include mq('md') {
    display: none;
  }
}

.u-tab {
  display: none;
  @include mq('md') {
    display: block;
  }

  @include mq('lg') {
    display: none;
  }
}

.u-tab-up {
  display: none;
  @include mq('md') {
    display: block;
  }
}

.u-pc-down {
  display: block;

  @include mq('lg') {
    display: none;
  }
}

.u-pc {
  display: none;

  @include mq('lg') {
    display: block;
  }
}
