/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* FontFamily */
$font-en: "Montserrat", sans-serif;
$font-ja:  "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

body {
  font-family: $font-ja;
  font-weight: 400;
  color: $text;
}

/* font-weight */
$regular: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// line-heightの変数定義
$leading-none: 1 !default;
$leading-x-tight: 1.25 !default;
$leading-tight: 1.5 !default;
$leading-snug: 1.6 !default;
$leading-normal: 1.7 !default;
$leading-relaxed: 1.8 !default;
$leading-loose: 2 !default;
