.fadeup {
    animation-name:fadeUpAnime;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
    opacity: 1;
}

@keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(110px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
